@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1564120598022'); /* IE9 */
  src: url('iconfont.eot?t=1564120598022#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABjQAAAJTAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo4VAE2AiQDCAsGAAQgBYRtBzcbgQUR1YtRsr9APMTUMUfq060zKdvvDisssz5MIhgGHPfQ/4KSgqdAAgAAAABE8P1+r3vevUFUiDKSyAHauLBKJGGrWiFboSpkhOp4Fqap0B9qct8uuC2VQC3HFufqENzpCDWS55EVfa9LB5xmD8KrTwAZ4LbBAqzXAEDM/1AGtxdSBFRFcAVANQwZcE39BHqQPKB3/GVTVFJSAI4HNNAOHI1sM5n4hrELXMJjAtW6TIille21osxaFYizY09UzMVkmRUrhfKag1l81lRZfJz4FH4//pUUyhKrbeNg5lb2fWaXcfc9fEK8IqDjZUiYQCZ2anNrEIxLqk+3PmRZ8D77sVfs1SXYX2c11oIOqN6Txn1CgAJkpJ6jTaPCpGxt2m9qPEeXdWr3S4Kf+Me3fe/irvIlc4LS6cuqEHxF4Hs8tZPBj6+bhJHSWb9AVK7tD/6CpudQ1nWWp8iqprZUqJX23lGtGiU41OzvWHvbKUuhUtuJAxU6UySVBsjMTqBMjUmUqzSLauNWj9docQ6RqzDmGSA0+oZCvTckjb6Tmf2DMu3+o1xjoNpetFxYYyg06CUUjC58/iCQWaocH/ei5jN6ZSwoqwv5O5IOkmAbVrG4wBRpji3623OYFSjKEpiD5zCOM8gpC1Gy4TPnU9NUdW8yZJZUehIKRhc+fxDILFX+ZO6VPn9Gr4wFtQzUlHckHcwOtmH1IBfmtNfAvbyivz2HWYGiLIE5mIdxnEFePy9EyYY/IpNPTXuc6ms21rcmX3cKqlmOIuwbEhe+SKVfaoxKEVQqAAAA') format('woff2'),
  url('iconfont.woff?t=1564120598022') format('woff'),
  url('iconfont.ttf?t=1564120598022') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1564120598022#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchusekuai:before {
  content: "\ec45";
}

